pipeline/PL_CopyBlobToSQL_Incremental_V1.json
{
	"name": "PL_CopyBlobToSQL_Incremental_V1",
	"properties": {
		"activities": [
			{
				"name": "Lookup LastPipelineRun",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT TOP 1 LastRunTimestamp\nFROM (\n    SELECT LastRunTimestamp\n    FROM [dbo].[PipelineRunMetadata]\n    WHERE PipelineName = '@{pipeline().Pipeline}'\n    \n    UNION ALL\n    \n    SELECT CAST('1900-01-01T00:00:00' AS DATETIME) AS LastRunTimestamp\n) AS CombinedResults\nORDER BY LastRunTimestamp DESC;\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql_PipelineMetadata",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set LastPipelineRun Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup LastPipelineRun",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastRun",
					"value": {
						"value": "@activity('Lookup LastPipelineRun').output.firstRow.LastRunTimestamp",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy new files from blob to DB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set LastPipelineRun Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "RootDirectory",
								"value": {
									"value": "@pipeline().parameters.DATA_PATH",
									"type": "Expression"
								}
							},
							{
								"name": "FilePath",
								"value": "$$FILEPATH"
							},
							{
								"name": "Loadtime",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('LastRun')",
								"type": "Expression"
							},
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.DATA_PATH",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Blob_RawInvoices",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@pipeline().parameters.DATA_PATH",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSql_RawInvoices",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Check if new files are written to db",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy new files from blob to DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Copy new files from blob to DB').output.dataWritten,0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Update pipeline run time in db",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateLastRunTimestamp]",
								"storedProcedureParameters": {
									"LastRunTimestamp": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"DATA_PATH": {
				"type": "string",
				"defaultValue": "RAW/INVOICES/AWS"
			}
		},
		"variables": {
			"LastRun": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-04T07:07:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}